@page
@model ServiceAssessmentService.WebApp.Pages.Admin.Phases.ViewModel

@{
    ViewData["Title"] = "Viewing phase";
    ViewData["Section"] = SiteSection.Admin;
}

<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Vieing phases</h1>
            </div>
        </div>

        @if (Model.Phase is null)
        {
            <p>Phase not recognised.</p>
        }
        else
        {
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Phase.Id
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Phase.Name
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Display Name (mid-sentence case)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Phase.DisplayNameMidSentenceCase
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sort Order
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Phase.SortOrder
                    </dd>
                </div>
            </dl>

            <govuk-button-link asp-page="/Admin/Phases/Edit" asp-route-id="@Model.Phase.Id">Edit</govuk-button-link>
            <govuk-button-link asp-page="/Admin/Phases/Delete" asp-route-id="@Model.Phase.Id" class="govuk-button--warning">Delete</govuk-button-link>
        }

    </div>
</div>
