@page
@model ServiceAssessmentService.WebApp.Pages.Book.Request.Question.DescriptionPageModel
@{
    ViewData["Title"] = Model.QuestionText;
    ViewData["Section"] = SiteSection.BookingRequest;
}

<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                @* Omitting the form action/asp-path results in the form being submitted to the same URL (desirable behaviour) *@
                <form asp-route-id="@Model.Id">
                    <govuk-character-count name="@Model.FormElementName" max-length="@Model.MaxLength" asp-for="@Model.Description">
                        <govuk-character-count-label is-page-heading="true" class="govuk-label--l">@Model.QuestionText</govuk-character-count-label>
                        <govuk-character-count-hint>@Model.QuestionHint</govuk-character-count-hint>
                        
                        @if (Model.Errors.Any())
                        {
                            @* string.Join here is a workaround, to allow for there to be multiple potential error messages, but the govuk-frontend-taghelpers library permits only one error message entry *@
                            <govuk-character-count-error-message>
                                @string.Join(", ", Model.Errors)
                            </govuk-character-count-error-message>
                        }
                    </govuk-character-count>

                    <div class="govuk-button-group">
                        <govuk-button type="submit">Save and continue</govuk-button>
                        <a asp-page="/Book/Request/TaskList" asp-route-id="@Model.Id" class="govuk-link">Skip and return to later</a>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
