@page
@model ServiceAssessmentService.WebApp.Pages.Admin.Portfolios.ViewModel

@{
    ViewData["Title"] = "Viewing portfolio";
    ViewData["Section"] = SiteSection.Admin;
}

<div class="pre--content"></div>
<div class="main--content">

    <div class="main--inside-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Vieing portfolios</h1>
            </div>
        </div>

        @if (Model.Portfolio is null)
        {
            <p>Portfolio not recognised.</p>
        }
        else
        {
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Portfolio.Id
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Is internal
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Portfolio.IsInternalGroup
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Portfolio.Name
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Display Name (mid-sentence case)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Portfolio.DisplayNameMidSentenceCase
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sort Order
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Portfolio.SortOrder
                    </dd>
                </div>
            </dl>

            <govuk-button-link asp-page="/Admin/Portfolios/Edit" asp-route-id="@Model.Portfolio.Id">Edit</govuk-button-link>
            <govuk-button-link asp-page="/Admin/Portfolios/Delete" asp-route-id="@Model.Portfolio.Id" class="govuk-button--warning">Delete</govuk-button-link>
        }

    </div>
</div>
