@page

@model ServiceAssessmentService.WebApp.Pages.Book.Request.TaskListModel
@{
    ViewData["Title"] = "Index";
    ViewData["Section"] = SiteSection.BookingRequest;
    
    
    const string notYetSupplied = "Not yet supplied";
}


<div class="main--content">

    <div class="main--inside-container">


        @if (Model.AssessmentRequest is null)
        {
            <div>Assessment request not found</div>
        }
        else
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">
                        @(Model.AssessmentRequest.Name ?? "Untitled") <small>(@(Model.AssessmentRequest.PhaseConcluding?.DisplayNameMidSentenceCase ?? "unknown phase") @(Model.AssessmentRequest.AssessmentType?.DisplayNameMidSentenceCase ?? "unknown assessment type"))</small>
                    </h2>
                    <h2 class="govuk-heading-s govuk-!-margin-bottom-2"> Request incomplete</h2>
                <p class="govuk-body govuk-!-margin-bottom-7">
                    You have completed 
                    @Model.AssessmentRequest.CountOfCompleted()
                    of 
                    @Model.AssessmentRequest.StepCount()
                    sections.
                </p>
                    <ol class="app-task-list">
                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">0. </span> Assessment Details
                                @*@(Model.AssessmentRequest.PhaseConcluding?.DisplayNameMidSentenceCase ?? "unknown phase") @(Model.AssessmentRequest.AssessmentType?.DisplayNameMidSentenceCase ?? "unknown assessment type")*@
                            </h2>
                            <ul class="app-task-list__items">
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/PhaseConcluding" asp-route-id="@Model.AssessmentRequest.Id">Phase concluding</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @(Model.AssessmentRequest.PhaseConcluding?.Name ?? notYetSupplied)
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsPhaseConcludingComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/AssessmentType" asp-route-id="@Model.AssessmentRequest.Id">Assessment type</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @(Model.AssessmentRequest.AssessmentType?.Name ?? notYetSupplied)
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsAssessmentTypeComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/AssessmentType" asp-route-id="@Model.AssessmentRequest.Id">Is reassessment</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @switch(Model.AssessmentRequest.IsReassessment)
                                        {
                                            case null:
                                                <span>@notYetSupplied</span>
                                                break;
                                            case true:
                                                <span>Yes</span>
                                                break;
                                            case false:
                                                <span>No</span>
                                                break;
                                        }
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsAssessmentTypeComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h2 class="app-task-list__section">
                                <span class="app-task-list__section-number">1. </span> Details of your service
                                @*@(Model.AssessmentRequest.PhaseConcluding?.DisplayNameMidSentenceCase ?? "unknown phase") @(Model.AssessmentRequest.AssessmentType?.DisplayNameMidSentenceCase ?? "unknown assessment type")*@
                            </h2>
                            <ul class="app-task-list__items">

                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/Name" asp-route-id="@Model.AssessmentRequest.Id">Name</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @(string.IsNullOrWhiteSpace(Model.AssessmentRequest.Name) ? notYetSupplied : Model.AssessmentRequest.Name)
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsNameComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>

                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/Description" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Summary</a>
                                    </span>
                                    <span class="app-task-list__task-value" style="white-space: pre-line">@(string.IsNullOrWhiteSpace(Model.AssessmentRequest.Description) ? notYetSupplied : Model.AssessmentRequest.Description)</span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsDescriptionComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                        
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/ProjectCode" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Project code</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @{
                                            if (Model.AssessmentRequest.IsProjectCodeKnown == false)
                                            {
                                                <span>Not known</span>
                                            }
                                            else if (Model.AssessmentRequest.IsProjectCodeKnown == true)
                                            {
                                                @Model.AssessmentRequest.ProjectCode
                                            }
                                            else
                                            {
                                                <span>@notYetSupplied</span>
                                            }
                                        }
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsProjectCodeComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                        
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/PhaseStartDate" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Start date</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @((Model.AssessmentRequest.PhaseStartDate is null) ? notYetSupplied : Model.AssessmentRequest.PhaseStartDate)
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsPhaseStartDateComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                        
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a asp-page="/Book/Request/Question/PhaseEndDate" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">End date</a>
                                    </span>
                                    <span class="app-task-list__task-value">
                                        @((Model.AssessmentRequest.PhaseEndDate is null) ? notYetSupplied : Model.AssessmentRequest.PhaseEndDate)
                                    </span>
                                    <span class="app-task-list__task-tag">
                                        @if (Model.AssessmentRequest.IsPhaseEndDateComplete())
                                        {
                                            <strong class="govuk-tag app-task-list__tag">Completed</strong>
                                        }
                                        else
                                        {
                                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                                        }
                                    </span>
                                </li>
                        
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-name"> *@
                        @*                 <a asp-page="/Book/Request/Question/ReviewDates" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Requested review weeks</a> *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-value"> *@
                        @*                 @* *@
                        @*             TODO: Consider scenario where user might: *@
                        @*             1. select an end date, *@
                        @*             2. then select review dates, *@
                        @*             3. then time passes and the end date is now within the next five weeks, and previously selected values are now invalid *@
                        @*             *@
                        @* *@
                        @*                 @if (Model.AssessmentRequest.IsEndDateWithinNextFiveWeeks) *@
                        @*                 { *@
                        @*                     <span>None available as end date is within next 5 weeks</span> *@
                        @*                 } *@
                        @*                 else if ( /*Model.AssessmentRequest.IsEndDateKnown == true &&*/ Model.AssessmentRequest.ReviewDates.Any()) *@
                        @*                 { *@
                        @*                     <ul class="govuk-list govuk-list--bullet"> *@
                        @*                         @foreach (var date in Model.AssessmentRequest.ReviewDates) *@
                        @*                         { *@
                        @*                             <li>@date</li> *@
                        @*                         } *@
                        @*                     </ul> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <span>@notYetSupplied</span> *@
                        @*                 } *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-tag"> *@
                        @*                 @if (Model.AssessmentRequest.IsReviewDatesComplete()) *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag app-task-list__tag">Completed</strong> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong> *@
                        @*                 } *@
                        @* *@
                        @*             </span> *@
                        @*         </li> *@
                        @*     </ul> *@
                        @* </li> *@
                        @* <li> *@
                        @*     <h2 class="app-task-list__section"> *@
                        @*         <span class="app-task-list__section-number">2. </span> Product and delivery *@
                        @*     </h2> *@
                        @*     <ul class="app-task-list__items"> *@
                        @* *@
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-name"> *@
                        @*                 <a asp-page="/Book/Request/Question/Portfolio" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Portfolio</a> *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-value"> *@
                        @*                 @(Model.AssessmentRequest.Portfolio?.DisplayName ?? notYetSupplied) *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-tag"> *@
                        @*                 @if (Model.AssessmentRequest.IsPortfolioComplete()) *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag app-task-list__tag">Completed</strong> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong> *@
                        @*                 } *@
                        @*             </span> *@
                        @*         </li> *@
                        @* *@
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-name"> *@
                        @*                 <a asp-page="/Book/Request/Question/DeputyDirector" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Deputy director</a> *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-value"> *@
                        @*                 @if (Model.AssessmentRequest.DeputyDirector is null) *@
                        @*                 { *@
                        @*                     <span>@notYetSupplied</span> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <span>@Model.AssessmentRequest.DeputyDirector.Name (@Model.AssessmentRequest.DeputyDirector.Email)</span> *@
                        @*                 } *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-tag"> *@
                        @*                 @if (Model.AssessmentRequest.IsDeputyDirectorComplete()) *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag app-task-list__tag">Completed</strong> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong> *@
                        @*                 } *@
                        @*             </span> *@
                        @*         </li> *@
                        @* *@
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-name"> *@
                        @*                 <a asp-page="/Book/Request/Question/SeniorResponsibleOfficer" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Senior responsible officer</a> *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-value"> *@
                        @*                 @if (Model.AssessmentRequest.IsDeputyDirectorTheSeniorResponsibleOfficer == true) *@
                        @*                 { *@
                        @*                     if (Model.AssessmentRequest.DeputyDirector is null) *@
                        @*                     { *@
                        @*                         <span>Deputy Director (@notYetSupplied)</span> *@
                        @*                     } *@
                        @*                     else *@
                        @*                     { *@
                        @*                         <span>Deputy Director (@Model.AssessmentRequest.DeputyDirector.Name, @Model.AssessmentRequest.DeputyDirector.Email)</span> *@
                        @*                     } *@
                        @*                 } *@
                        @*                 else if (Model.AssessmentRequest.IsDeputyDirectorTheSeniorResponsibleOfficer == false) *@
                        @*                 { *@
                        @*                     if (Model.AssessmentRequest.SeniorResponsibleOfficer is null) *@
                        @*                     { *@
                        @*                         <span>@notYetSupplied</span> *@
                        @*                     } *@
                        @*                     else *@
                        @*                     { *@
                        @*                         <span>@Model.AssessmentRequest.SeniorResponsibleOfficer.Name (@Model.AssessmentRequest.SeniorResponsibleOfficer.Email)</span> *@
                        @*                     } *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     @notYetSupplied *@
                        @*                 } *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-tag"> *@
                        @*                 @if (Model.AssessmentRequest.IsSeniorResponsibleOfficerComplete()) *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag app-task-list__tag">Completed</strong> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong> *@
                        @*                 } *@
                        @*             </span> *@
                        @*         </li> *@
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-name"> *@
                        @*                 <a asp-page="/Book/Request/Question/ProductOwnerManager" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Product manager</a> *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-value"> *@
                        @*                 @if (Model.AssessmentRequest.HasProductOwnerManager == true) *@
                        @*                 { *@
                        @*                     if (Model.AssessmentRequest.ProductOwnerManager is null) *@
                        @*                     { *@
                        @*                         <text>@notYetSupplied</text> *@
                        @*                         ; *@
                        @*                     } *@
                        @*                     else *@
                        @*                     { *@
                        @*                         <text>@Model.AssessmentRequest.ProductOwnerManager.Name (@Model.AssessmentRequest.ProductOwnerManager.Email)</text> *@
                        @*                     } *@
                        @*                 } *@
                        @*                 else if (Model.AssessmentRequest.HasProductOwnerManager == false) *@
                        @*                 { *@
                        @*                     <span>Not known</span> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <span>@notYetSupplied</span> *@
                        @*                 } *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-tag"> *@
                        @*                 @if (Model.AssessmentRequest.IsProductOwnerManagerComplete()) *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag app-task-list__tag">Completed</strong> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong> *@
                        @*                 } *@
                        @*             </span> *@
                        @*         </li> *@
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-name"> *@
                        @*                 <a asp-page="/Book/Request/Question/DeliveryManager" asp-route-id="@Model.AssessmentRequest.Id" aria-describedby="read-declaration-status">Delivery manager</a> *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-value"> *@
                        @*                 @if (Model.AssessmentRequest.HasDeliveryManager == true) *@
                        @*                 { *@
                        @*                     if (Model.AssessmentRequest.DeliveryManager is null) *@
                        @*                     { *@
                        @*                         <text>@notYetSupplied</text> *@
                        @*                         ; *@
                        @*                     } *@
                        @*                     else *@
                        @*                     { *@
                        @*                         <text>@Model.AssessmentRequest.DeliveryManager.Name (@Model.AssessmentRequest.DeliveryManager.Email)</text> *@
                        @*                     } *@
                        @*                 } *@
                        @*                 else if (Model.AssessmentRequest.HasDeliveryManager == false) *@
                        @*                 { *@
                        @*                     <span>Not known</span> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <span>@notYetSupplied</span> *@
                        @*                 } *@
                        @*             </span> *@
                        @*             <span class="app-task-list__task-tag"> *@
                        @*                 @if (Model.AssessmentRequest.IsDeliveryManagerComplete()) *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag app-task-list__tag">Completed</strong> *@
                        @*                 } *@
                        @*                 else *@
                        @*                 { *@
                        @*                     <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong> *@
                        @*                 } *@
                        @*             </span> *@
                        @*         </li> *@
                        @*     </ul> *@
                        @* </li> *@
                        @* *@
                        @* <li> *@
                        @*     <h2 class="app-task-list__section"> *@
                        @*         <span class="app-task-list__section-number">3. </span> Submit *@
                        @*     </h2> *@
                        @* *@
                        @*     <ul class="app-task-list__items"> *@
                        @*         <li class="app-task-list__item"> *@
                        @*             <span class="app-task-list__task-value">Submit request</span> *@
                        @*             @if (Model.AssessmentRequest.IsFullyComplete()) *@
                        @*             { *@
                        @*                 <button class="govuk-button" style="display: inline-block; float: right; margin-bottom: 0; margin-top: 0; width: 20%;">Submit</button> *@
                        @*             } *@
                        @*             else *@
                        @*             { *@
                        @*                 <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong> *@
                        @*             } *@
                        @*         </li> *@
                            </ul>
                        
                        
                        </li>
                    </ol>

                    <h2 class="govuk-heading-m">Delete draft</h2>
                    <p>If you no longer want to proceed with this request, you can delete it.</p>
                    <govuk-button-link asp-page="/Book/Request/Delete" class="govuk-button--warning" asp-route-id="@Model.AssessmentRequest.Id">
                        Delete draft
                    </govuk-button-link>

                </div>
            </div>
        }
    </div>
</div>
