@page
@model ServiceAssessmentService.WebApp.Pages.Me.IndexModel
@{
    ViewData["Title"] = "Home page";

    var graphUser = ViewData["GraphUser"] as Microsoft.Graph.User;
}

<div class="main--content">

    <div class="main--inside-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
                <h1 class="govuk-heading-l ">Graph API result</h1>

                <ul>
                    <li>@ViewData["GraphApiResult"]</li>
                    <li>@graphUser.GivenName</li>
                    <li>@graphUser.Surname</li>
                    <li>@graphUser.Mail</li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
                <h3 class="govuk-heading-m">User Properties</h3>

                <dl class="govuk-summary-list">
                    @foreach (var property in Model.User.GetType().GetProperties())
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @property.Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @property.GetValue(Model.User)
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
                <h3 class="govuk-heading-m">Claims</h3>

                <dl class="govuk-summary-list">
                    @foreach (var claim in Model.User.Claims)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @claim.Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @claim.Value
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
                <h3 class="govuk-heading-m">User Properties</h3>

                <dl class="govuk-summary-list">
                    @foreach (var property in graphUser.GetType().GetProperties())
                    {
                        var value = property.GetValue(graphUser);
                        if (value is null)
                        {
                            continue;
                        }
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @property.Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @value
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

    </div>
</div>
