@page

@model ServiceAssessmentService.WebApp.Pages.Book.ViewModel
@{
    ViewData["Title"] = "Index";
    ViewData["Section"] = SiteSection.BookingRequest;
}


<div class="main--content">

    <div class="main--inside-container">


        @if (Model.AssessmentRequest is null)
        {
            <div>Assessment request not found</div>
        }
        else
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">
                        @(Model.AssessmentRequest.Name ?? "Untitled") <small>(@(Model.AssessmentRequest.PhaseConcluding ?? "") @(Model.AssessmentRequest.AssessmentType))</small>
                    </h2>

                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Service
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.Name
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.Description
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Assessment type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.AssessmentType
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phase concluding
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.PhaseConcluding
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phase start date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.PhaseStartDate?.ToString("dd MMMM yyyy")
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phase end date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.PhaseEndDate?.ToString("dd MMMM yyyy")
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Created
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.CreatedAt.ToString()
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Updated
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.AssessmentRequest.UpdatedAt.ToString()
                            </dd>
                        </div>
                    </dl>

                    <govuk-button-link asp-page="/Book/Edit" asp-route-id="@Model.AssessmentRequest.Id">Edit</govuk-button-link>"
                    <govuk-button-link asp-page="/Book/Delete" asp-route-id="@Model.AssessmentRequest.Id" class="govuk-button--warning">Delete</govuk-button-link>

                </div>
            </div>
        }
    </div>
</div>
